:root {
  --secret-btn-height: 10px;
  --secret-btn-width: 30px;
}

.btnWrapper {
  position: absolute;
  top: 1%;
  left: 30%;
  height: var(--secret-btn-height);
  width: var(--secret-btn-width);
  background-color: whitesmoke;
  box-shadow: inset -1px 1px 2px var(--background-title-color);
}

.cover {
  position: relative;
  height: var(--secret-btn-height);
  width: var(--secret-btn-width);
  background-color: var(--background-title-color);
  z-index: 1;
  transition: transform 250ms;
}

.btnWrapper:hover {
  background-color: whitesmoke !important;
  box-shadow: inset -1px 1px 2px var(--background-title-color);
}

.btnWrapper:hover .pushable {
  background-color: rgb(131, 6, 48) !important;
}
.btnWrapper:hover .btnFront {
  background-color: hsl(345deg 100% 47%) !important;
}
.btnWrapper:hover .cover {
  background: linear-gradient(
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    )
    0 0/200% 200% !important;
  animation: coverAnimation 1s linear infinite;
  transform: translateX(-30px);
  transition: transform 250ms linear;
}

.btnFront {
  display: block;
  padding: 3px 4px;
  border-radius: 5px;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-2px);
  will-change: transform;
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.transparent {
  background: transparent !important;
  box-shadow: none;
}

.pushable {
  position: relative;
  top: -18px;
  left: 15px;
  background: rgb(131, 6, 48);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.pushable:hover .btnFront {
  transform: translateY(-2px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .btnFront {
  transform: translateY(-1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 576px) {
  .btnWrapper {
    top: 3%;
    left: 80%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .btnWrapper {
    left: 90%;
  }
}

@media (min-width: 1200px) {
}

@keyframes coverAnimation {
  to {
    background-position: 0 -200%;
  }
}
